.movies {
    display : flex;
    flex-wrap: wrap;
}



.link {
    text-decoration: underline;
    color: blue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

a:hover {
    opacity: 75%;
}